.List
{
overflow-x:hidden;
overflow-y:scroll;
background-color:rgba(214,214,214,1);
}
.List-Table
{
width:100%;
}
.List-Item
{
color:black;
}
.List-Item:Hover
{
color:black;
background-color:rgba(178,224,249,1);
}
.List-Item-Selected
{
color:black;
background-color:rgba(148,194,219,1);
}